importFrom("igraph", "distances", "E", "edge_attr", "set_edge_attr",
           "shortest_paths")
importFrom("sfnetworks", "activate", "as_sfnetwork")
importFrom("sf", "st_as_sf", "st_coordinates", "st_crs", "st_distance", "st_is",
           "st_intersection", "st_length", "st_linestring", "st_make_valid",
           "st_reverse", "st_sample", "st_transform", "st_read", "st_sfc",
           "st_crs<-")
importFrom("terra", "as.polygons", "crds", "crop", "crs", "ext", "extract",
           "project", "res", "rast", "vect")
importFrom("methods", "is")
importFrom("utils", "setTxtProgressBar", "tail", "txtProgressBar")
export("EGCorrs")
export("get_component_u")
export("get_component_v")
export("get_origin_areas")
export("get_destination_areas")
